<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagination</title>
</head>
<body>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>note</th>
    </tr>
  </thead>
  <tbody>
    {% for note in notes %}
      <tr>
        <td>{{ note.id }}</td>
        <td>{{ note.title }}</td>
        <td>{{ note.note }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if notes.has_other_pages %}
  <ul class="pagination">
    {% if notes.has_previous %}
      <li><a href="?page={{ notes.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in notes.aginator.page_range %}
      {% if notes.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if notes.has_next %}
      <li><a href="?page={{ notes.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</body>
</html>